<div class="row">
  <div class="col-md-12">
    <ul class="characters" *ngIf="characters">
      <li
        *ngFor="let character of characters | paginate: { itemsPerPage: 20, currentPage: currentPage, totalItems:totalItems }">
        <div class="card-group">
          <a [routerLink]="['/character', character.id]" style="text-decoration: none;">
            <div class="card text-white bg-dark mb-3" style="width: 18rem; height: 18rem;">
              <img [src]="formatURL(character)" class="card-img-top">
              <div class="card-body">
                <p class="card-text" style="font-size: 14px; line-break: auto;">{{character.name}}</p>
              </div>
            </div>
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-5 offset-md-7 ">
    <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
  </div>
</div>