<div class="row">
  <div class="col-md-12">
    <ul class="characters" *ngIf="characters">
      <li *ngFor="let character of characters">
        <div class="card" style="width: 18rem;">
          <img [src]="formatURL(character)" class="card-img-top">
          <div class="card-body">
            <p class="card-text" style="font-size: 14px;">{{character.name}}</p>
            <a [routerLink]="['/character', character.id]" href="#" class="btn btn-primary">More details</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-1 offset-md-10 ">
    <button (click)="PreviousPage()" class="btn btn-primary" *ngIf="currentPage > 0">Previous</button>
  </div>
  <div class="col-md-1">
    <button (click)="NextPage()" class="btn btn-primary" *ngIf="numberOfCharacters < totalPage">Next</button>
  </div>
</div>